# WordPress core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php  

# Configuration
wp-config.php
/.htaccess

# Uploads and logs
/wp-content/uploads/
*.log

# wp-content 
wp-content/*
!wp-content/index.php

# Allow specific themes
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/buyMore/
!wp-content/themes/index.php

# Allow specific plugins
!wp-content/plugins/
wp-content/plugins/* 
!wp-content/plugins/index.php
